@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Telex&display=swap');

/* font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Telex', sans-serif;*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFF9F5;
    padding: 0px;
    margin: 0px;
}

header{
    max-width: 100%;
    background-color: black;
    max-height: fit-content;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img{
    max-width: 48px;
    margin-left: 25px;
}

nav ul{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

ul li{
    color: #ddd685;
    list-style-type: none;
    margin-right: 28px;
    margin-left: 27px;
    margin-top: 9px;
    font-size: .8em;
    padding-right: 5px;
    padding-bottom: 7px;
    transition: .2s;
}

a{
    text-decoration: none;
}

li:hover{
    text-decoration: underline;
    color: #ffffff;
    font-size: .9em;
}

main{
    background-image: url(../imagens/fundo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 100%;
    max-width: 1920px;
    min-height: 768px;
    max-height: 100%;
    margin: 0px 0px;
    padding-top: 0px 0px;
}

div{
    display: flex;
    justify-content: right;
}
.redes{
    display: inline-block;
}

.redes img{
    max-width: 16px;
}



