@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Telex&display=swap');

/* font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Telex', sans-serif;*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.288);
    background-image: url(../imagens/tema-claro-sem-fundo.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    margin: 0px;
}

header{
    max-width: 100%;
    background-color: black;
    max-height: fit-content;
}

.barra-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img{
    max-width: 48px;
    margin-left: 25px;
}

nav ul{
    background-color: transparent;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.naveg{
    font-family: 'Telex', sans-serif;
    color: #ddd685;
    list-style-type: none;
    margin-right: 28px;
    margin-left: 27px;
    margin-top: 9px;
    font-size: .8em;
    padding-right: 5px;
    padding-bottom: 7px;
    transition: .2s;
}

.redes{
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
}

a{
    text-decoration: none;
}

.naveg:hover{
    text-decoration: underline;
    color: #ffffff;
    font-size: .9em;
}

.redes img{
    max-width: 25px;
    padding: 3px;
}

.redes img:hover{
    border: .5px dotted #ddd685;
    border-radius: 50%;
}

main{
    margin: auto;
    max-width: 1920px;
}

.video-clip{
    text-align: center;
    height: fit-content;
    margin: 50px auto;
}

main h1{
    background-image: linear-gradient(45deg, #ddd685, #757145);
    max-width: 900px;
    font-family: 'Telex', sans-serif;
    margin: 15px auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #ddd68559;
}

#titulo-iframe{
    text-align: center;
    padding-bottom: 0px;
    font-weight: bolder;
    background-color: black;
    max-width: 47%;
    margin: auto;
    color: white;
    border-radius: 5px;
}

#paragrafo{
    background-image: linear-gradient(to right, #ddd685, #757145);
    margin: 10px auto;
    max-width: fit-content;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.226);
}

#resumo{
    font-family: 'Telex', sans-serif;
    font-weight: lighter;
    margin: auto;
    text-align: justify;
    max-width: 900px;
    padding: 10px;
}

footer{
    display: block;
    font-family: 'Telex, sans-serif';
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 0px 5px 0px;
}