@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Telex&display=swap');

/* font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Telex', sans-serif;*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

header{
    max-width: 100%;
    background-color: black;
    max-height: fit-content;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img{
    max-width: 48px;
    margin-left: 25px;
}

nav ul{
    background-color: transparent;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

ul li{
    font-family: 'Telex', sans-serif;
    color: #ddd685;
    list-style-type: none;
    margin-right: 28px;
    margin-left: 27px;
    margin-top: 9px;
    font-size: .8em;
    padding-right: 5px;
    padding-bottom: 7px;
    transition: .2s;
}

.redes{
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
}

a{
    text-decoration: none;
}

li:hover{
    text-decoration: underline;
    color: #ffffff;
    font-size: .9em;
}

.redes img{
    max-width: 25px;
    padding: 3px;
}

.redes img:hover{
    border: .5px dotted #ddd685;
    border-radius: 50%;
}

main{
    background-color: #ddd685;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main h3{
    max-width: 500px;
    max-height: fit-content;
    margin: auto;
    font-family: 'Telex', sans-serif;
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 25px;

}

span{
    max-width: 228px;
    font-size: 60px;
    font-weight: lighter;
    font-style: italic;
    background-color: gray;
}



footer{
    display: block;
    font-family: 'Telex, sans-serif';
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 0px 5px 0px;
}



