@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Telex&display=swap');

/* font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Telex', sans-serif;*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0px;
    margin: 0px;
}

header{
    max-width: 100%;
    background-color: black;
    max-height: fit-content;
}

.barra-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img{
    max-width: 48px;
    margin-left: 25px;
}

nav ul{
    background-color: transparent;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.naveg{
    font-family: 'Telex', sans-serif;
    color: #ddd685;
    list-style-type: none;
    margin-right: 28px;
    margin-left: 27px;
    margin-top: 9px;
    font-size: .8em;
    padding-right: 5px;
    padding-bottom: 7px;
    transition: .2s;
}

.redes{
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
}

a{
    text-decoration: none;
}

.naveg:hover{
    text-decoration: underline;
    color: #ffffff;
    font-size: .9em;
}

.redes img{
    max-width: 25px;
    padding: 3px;
}

.redes img:hover{
    border: .5px dotted #ddd685;
    border-radius: 50%;
}

main{
    background-color: #ddd68580;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main h3{
    max-width: 644px;
    max-height: fit-content;
    margin: auto;
    font-family: 'Telex', sans-serif;
    text-align: center;
}

span{
    max-width: 228px;
    font-size: 2em;
    font-weight: lighter;
    font-style: italic;
}

aside{
    font-family: 'Telex', sans-serif;;
    background-color: rgb(85, 85, 85);
    padding: 15px;
}

aside h3{
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}

.serv-list{
    list-style-position: inside;
    columns: 2;
    width: 100%;
}

.lista{
    text-align: center;
    list-style-type: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px;
    margin: 0px;
}

.sublista{
    list-style-position: inside;
    list-style-type: circle;
    color: black;
    font-size: .8em;
    font-weight: normal;
}

.agendamentos-persona{
    text-align: center;
    color: black;
    font-size: 1em;
    padding: 10px;
    font-weight: light;
    font-style: italic;
}

.contat-agend{
    list-style-type: none;
    columns: 1;
}

.contatos{
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
}

.horarios{
    list-style-type: none;
}

.horas{
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
}

footer{
    display: block;
    font-family: 'Telex, sans-serif';
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 0px 5px 0px;
}



